@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Poppins:wght@200;300;400;700&display=swap");

:root {
  --bg-yellow: #ffcf2b;
  --bg-green: #a6ffa1;
  --bg-blue: #84bcda;
  --bg-gray: #9b8791;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
}

body {
  position: relative;
}

h1 {
  font-weight: 700;
  font-size: 5rem;
}

h2 {
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 30px;
}

.parallax,
.about-cont {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

/* parallax header */
.parallax {
  background-image: url("/images/hamster-cover-narrow.jpg");
  background-size: cover;
  background-attachment: fixed;
  min-height: 450px;
  width: 100%;
}

.header-text {
  max-width: 800px;
  text-align: center;
  padding: 30px;
  color: white;
  font-size: 1.5rem;
}

a {
  color: inherit;
  text-decoration: none;
}

.tools {
  color: salmon;
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  position: relative;
}

.tools i:hover {
  transform: scale(120%);
  transition: all 0.3s ease-in-out;
}

/* tools desciption on hover */
.tools div[tool-desc]:hover::after {
  content: attr(tool-desc);
  color: gray;
  position: absolute;
  top: 60px;
  width: 150px;
  left: 35%;
  font-size: 1rem;
}

/* general icon definitions */
.header-text i,
.projects-container i {
  margin: 20px;
}

.center {
  text-align: center;
}

.inner-text {
  text-align: center;
  padding: 60px;
  color: #333;
  max-width: 700px;
}

/* projects section */
.projects {
  padding: 30px;
  background: var(--bg-blue);
  color: white;
}

.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.project {
  width: 50vw;
  height: 30vw;

  padding: 30px;
  color: #333;
  background: white;
}

.project-description {
  padding: 20px 0;
  text-align: left;
  line-height: 2rem;
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  /* TODO: check to see fluid font size for project description */
  font-size: 1rem;
}
.project-description li {
  list-style: none;
}

.project-description i {
  margin: 0;
}

.project-img {
  width: 15vw;
  height: 15vw;
}

/* contact section */
.contact-area {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.profile-img {
  display: flex;
  justify-items: center;
  align-items: center;
}

.profile-img img {
  margin: 30px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid salmon;
}

.form {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form > * {
  margin: 3px;
  padding: 5px;
}

.form button {
  width: 100px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  border: none;
  background-color: var(--bg-blue);
  /* TODO: find out why transition wont work on hover */
  transition: all 0.3 ease-in-out;
}

.form button:hover {
  background-color: salmon;
}

.form textarea {
  resize: none;
}

.footer {
  background: var(--bg-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  padding: 30px;
  color: white;
}

.footer .item {
  margin: 20px;
}

.footer a:hover,
a:hover {
  color: salmon;
}
