:root {
    --bg-yellow: #ffcf2b;
    --bg-green: #a6ffa1;
    --bg-blue: #84bcda;
    --bg-gray: #595758;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}


::-webkit-scrollbar {
    width: 0; /* Remove scrollbar space */
  }

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Poppins:wght@200;300;400;700&display=swap");

h1 {
  font-weight: 700;
  font-size: 5rem;;
}

.parallax, .text-cont {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.parallax {
    background-image: url("/images/hamster-cover-narrow.jpg");
    background-size: cover ;
    background-attachment: fixed;
    /* background-position-y: 50px; */
    /* background-position-x: center; */
    /* height: 50vh; */
    min-height: 450px;
    width: 100%;

}

.header-text {
    max-width: 800px;
    text-align: center;
    padding: 30px;
    color: white;
    font-size: 1.5rem;
}

a {
    color: inherit;
    text-decoration: none;
}

.tools {
    color: salmon;
    display: flex;
    justify-content: space-around;
}
i {
    margin:  20px;
}

.tools i:hover {
    transform: scale(120%)
}


.inner-text {
    text-align: center;
    padding: 60px;
    color: #333;
    max-width: 700px;
}

.img-grid {
    display: grid;
    grid-template-columns: repeat(4, auto);
}

.form-area {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.form {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cv i{
    padding: 0;
    margin-right: 0;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    padding: 30px;
}

.footer a:hover {
    color: salmon;
}

.credits {
    text-align: center;
    font-size: 0.8rem;
    color: lightgray;
}